<!DOCTYPE html>
<html lang="en">

<head>
    
    <title>Delete !!!!!!!!Warning!!!!!!!!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Antic' rel='stylesheet'>
   <style>
          body {
            text-align: center;
            color: black;
            background-color: bisque;
            vertical-align: middle;
            font-family: 'Abyssinica SIL', serif;
            /* border: 2px solid red ;  */
        } 
        #choice{
            inline-size: auto;
        }
        #para{
            padding:3vw;
        }
    </style>
</head>

<body ID="all">
    <p id="para"><h1>{{ error }}</h1></p>
    <p><h3>Do you wish to proceed to delete {{ obj_name }} {{ object }} ?? </h3> </p>

    <div id="choice">
        <form action="/{{ user_id }}/{{ object }}/{{ list_id }}/delete" method="POST" id="delete-form">
            <div>
                <input type="submit" value="Yes" class="btn btn-success btn-lg"/>
                <a href="/{{ user_id }}/board" class="btn btn-warning btn-lg">No</a>
            </div>
        </form>
        
    </div>


    <!-- <a href="/{{ user_id }}/board" class="btn btn-secondary">No</a> -->




</body>

</html>